/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

/* COMMON */
body {
    min-width: 950px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #009587;
    background: linear-gradient(180deg, rgba(0,149,135,1) 20%, rgba(213,218,216,1) 20%);
}

/* .clearfix::after {
    content: '';
    display: table;
    clear: both;
} */

/* APP */
.app-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    min-width: 80%;

    display: flex;
}

/* SIDEBAR: CONTACT LIST */
/* UPPER CONTACT BAR */
/* L'Upper Contact Bar è stato inserito nella sezione di sinistra, ma vale
   anche per quella di destra, lo stile è lo stesso */
.left {
    width: 35%;
}

.contact-bar {
    display: flex;
    justify-content: space-between;

    background-color: #eaeaea;
    padding: 10px;
}

.left .contact-bar {
    border-right: 1px solid #b1b1b1
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-box {
    width: 45px;
}

.contact-box img {
    border-radius: 50%;
    cursor: pointer;
}

.contact-name {
    margin-left: 10px;
    font-weight: 500;
}

.triad-app-icons {
    width:  90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.icon-box i {
    color: #b1b1b1;
    font-size: 20px;
    cursor: pointer;
}
/* END UPPER CONTACT BAR */

/* TOOLS AND CONTACT */
.tools-and-contacts-container {
    height: calc(100% - 186px);
}

/* Notification options */
.notification-options {
    display: flex;
    align-items: center;

    padding: 15px;
    background-color: #8edafb;
}
.notification-icon {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;

    background-color: white;
}

.notification-icon i {
    font-size: 18px;
    color: #8edafb;
}

.notification-switch {
    margin-left: 10px;
}

.small-text {
    font-size: 13px;
    color: #4f7585;
}

/* Searchbar */
.searchbar-section {
    padding: 7px;
    background-color: #eaeaea;
}

.searchbar-container {
    margin: 0 auto;
    position: relative;
}

.searchbar-container input {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 70px;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    border-style: solid;

    color: #4f7585;
}

.searchbar-icon {
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
}

.searchbar-icon i {
    color: #b1b1b1;
}

/* Contact List */
.contact-list {
    background-color: white;
    height: 100%;
    overflow-y: auto;
}

.contact-list .contact-info {
    padding: 15px;
    border-bottom: 1px solid #b1b1b1;
}

.contact-list .contact-info:last-child {
    border-bottom: 0;
    padding-bottom: 25px;
}

.contact-list .contact-box {
    width: 60px;
}

.contact-list .contact-name {
    margin-left: 20px;
    align-self: flex-start;
}

/* CHAT */
.right {
    width: 65%;
}

/* Upper Contact Bar */
.contact-name-and-access {
    margin-left: 10px;
}

.right .contact-name {
    margin-left: 0;
    margin-bottom: 2px;
}

/* Main: Chat Section */
main {
    height: calc(100% - 128px);
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
    overflow-x: hidden;
}

.messages-container {
    width: 80%;
    margin: 0 auto;
}

.messages-ul {
    padding-top: 50px;
    padding-bottom: 20px;

    display: flex;
	flex-direction: column;
}

.message {
    padding: 15px 12.5px;
    width: 40%;
    border-radius: 10px;
    margin-bottom: 10px;

    font-weight: 400;
}

.message.sent {
    /* position: relative;
    left: 50%; */
    background-color: #d5f9ba;
    align-self: flex-end;
}

.message.received {
    /* float: left; */
    background-color: white;
}
/* End Main: Chat Section */

/* Footer: Send Message */
.send-message-container {
    /* display: flex;
    align-items: center; */
    text-align: center;

    background-color: #eaeaea;
    padding: 10px;
}

.send-message-container input {
    width: 80%;
    padding: 12.5px;

    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

.send-message-icon i {
    font-size: 20px;
    color: #6a7376;
    cursor: pointer;
}
/* End Footer: Send Message */

/* Ricordati clearfix commentato in cima */